$theme-colors: (
  primary:   #961127,
  secondary: #889096,
  success:   #1c9520,
  danger:    #9a1f6a,
  warning:   #fff3cd,
  info:      #2a7bb8,
  light:     #e0e0e0,
  dark:      #1a1a1a
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  background-color: map-get($theme-colors, dark);
  color: map-get($theme-colors, light);
  font-family: 'IBM Plex Sans', sans-serif;
}

.rounded-square {
  aspect-ratio: 1 / 1;
}

.midswitch .form-check-input {
  width: 2.25rem;
  height: 1.25rem;
  border-radius: 1.25rem;
}

.midswitch .form-check-input:checked {
  background-color: #0d6efd;
}

.midswitch .form-check-input::before {
  transform: scale(1.25);
  top: 0.15rem;
  left: 0.15rem;
}

