$theme-colors: (
  primary:   #961127,
  secondary: #889096,
  success:   #1c9520,
  danger:    #9a1f6a,
  warning:   #f0c03f,
  info:      #3ca0dc,
  light:     #e0e0e0,
  dark:      #1a1a1a
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  background-color: map-get($theme-colors, dark);
  color: map-get($theme-colors, light);
  font-family: 'IBM Plex Sans', sans-serif;
}

.rounded-square {
  aspect-ratio: 1 / 1;
}
